@import "../node_modules/bootstrap/scss/bootstrap";

h1,h2,h3,h4{
font-family: "thirsty-rough-two", sans-serif;
font-weight: 300;
font-style: normal;
color:#060d55;
}

.btn{
background-color: #5e6686;
color: white;
}


.mask{
    background-color: gray;
    opacity: 60%;
}

.ship{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero{
    display: flex;
    font-size: 70px;
    
}

.menu{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    overflow: hidden; 
}

hr {
    background-color: black;
    height: 2px;
    width: 100%;
}

.socials{
    margin-left: 145px;
}

.socials img {
    width: 30px;
  }

  @media (max-width: 840px) {
    footer {
      text-align: center;
    }
    .socials{
        margin-left: 0;
    }
    h5{
        font-size: 1.1rem;
        text-align: start;
        padding-left: 70px;
    }
    p{
        font-size: 0.9rem;
        text-align: start;
        padding-left: 70px;
        padding-right: 55px;
    }

    .about{
        padding-left: 75px;
    }

    .area{
        font-size: 3.5rem;
    }
  }
  

$custom-colors-bg-secondary-subtle: ("custom-color":  rgb(237, 236, 236));